/*Animações para o responsivo*/

@keyframes modal1 {
    25% {
        filter: brightness(100%);
    }

    50% {
        filter: brightness(100%);
    }

    75% {
        filter: brightness(15%);
    }

    100% {
        filter: brightness(15%);
    }
}

@keyframes modal2 {
    25% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

/*Responsividade*/

@media only screen and (max-width: 1000px) {

    /*Section1 - Sobre mim*/

    #section1_matheus article {
        width: 100%;
        flex-direction: column;
        row-gap: 40px;
    }

    #section1_part1, #section1_part2 {
        width: 85%;
        margin: auto;
    }

    #section1_matheus h1 {
        font-size: 40px;
    }
    
    #section1_matheus h3 {
        font-size: 30px;
    }
    
    #section1_matheus p {
        font-size: 20px;
    }

    #section1_matheus button {
        width: 100%;
        font-size: 20px;
        height: auto;
        line-height: 2em;
        padding: 0;
    }

    /*Section2 - Meus Projetos*/

    #section2_matheus h1 {
        font-size: 40px;
        color: #FFF;
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {

    /*Section1 - Sobre mim*/

    #section1_matheus article {
        width: 95%;
        column-gap: 5%;
    }

    #section1_matheus article img {
        animation-name: none;
        filter: drop-shadow(-10px 10px 0 #0921D7);
    }

    #section1_matheus h1 {
        font-size: 30px;
    }
    
    #section1_matheus h3 {
        font-size: 22px;
        margin-top: 1%;
    }
    
    #section1_matheus p {
        font-size: 15px;
        margin-top: 2%;
    }

    /*Section2 - Meus Projetos*/

    .projeto_img {
        animation: modal1 10s ease-in alternate infinite ;
    }

    .modal {
        animation: modal2 10s ease-in alternate infinite ;
    }
}

@media only screen and (max-width: 675px) {

    /*Section2 - Meus Projetos*/

    .modal {
        width: 400px;
        height: 200px;
    }

    .modal p {
        font-size: 20px;
        text-align: center;
    }

    .projetos a {
        width: 400px;
    }
}

@media only screen and (max-width: 480px) {

     /*Section1 - Sobre mim*/

    #section1_matheus article img {
        width: 100%;
        animation-name: none;
        filter: drop-shadow(-10px 10px 0 #0921D7);
    }

    #section1_matheus h1 {
        font-size: 35px;
    }
    
    #section1_matheus h3 {
        font-size: 22px;
        margin-top: 2%;
    }
    
    #section1_matheus p {
        font-size: 20px;
        margin-top: 5%;
    }

    /*Section2 - Meus Projetos*/

    .modal {
        width: 90%;
        height: 180px;
        gap: 15px;
    }

    .modal h2 {
        font-size: 22px;
    }

    .modal div img {
        width: 45px;
    }

    .modal p {
        font-size: 20px;
        align-items: center;
    }

    .projetos a {
        width: 100%;
    }

    .projetos h3 {
        font-size: 20px;
        padding: 5px 0;
    }
}