* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  main {
    position: relative;
    width: 100%;
    height: 200px;
  }
  
  section {
    background-color: rgb(7, 0, 53);
    width: 100%;
    height: auto;
    padding-bottom: 30px;
  }
  
  article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    text-align: justify;
  }
  
  #QuadroR {
    height: 20px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #QuadroR img {
    width: 240px;
  }

  #QuadroR p{
   text-align: justify;
   margin-left: 70px;
   margin-right: 70px;
  }
  
  
  #QuadroR2 {
    width: 65%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.082);
    font-size: large;
    font-style: initial;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  #QuadroR2 button {
    align-items: center;
    columns: flex;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    display: inline-flexbox;
    width: 245px;
    font-size: 15px;
    background-color: rgb(0, 72, 255);
  }
  
  #QuadroR2 button:hover {
    transform: scale(1.05, 1.05);
    background-color: rgb(0, 0, 0);
  }
  
  h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 40px 20px;
    font-size: 30px;
  }
  
  h3 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 50px;
  }
  
  /*Section 2 - Meus Projetos*/
  
  #section2_renan {
    width: 100%;
    height: auto;
    margin: auto;
    display: flexbox;
  }
  
  #section2_renan article {
    width: 90%;
    height: auto;
    margin: auto;
  
    flex-wrap: wrap;
    justify-content: center;
    gap: 1%;
  }
  
  #section2_renan h1 {
    font-family: var(--textos_fonte);
    font-size: 55px;
    color: #FFF;
    text-align: center;
    padding: 40px 20px;
  }
  
  .modal {
    margin-top: 80px;
    position: absolute;
    width: 550px;
    height: 265px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    opacity: 0;
    transition: ease-in 0.7s;
    z-index: 10;
}

.modal h2 {
    font-family: var(--textos_fonte);
    font-size: 30px;
    text-align: center;
    color: #FFF;
}

.modal div {
    display: flex;
    justify-content: center;
}

.modal div img {
    width: 55px;
    border-radius: 0;
}

.modal p {
    font-family: var(--textos_fonte);
    font-size: 22px;
    text-align: center;
    color: #FFF;
}

/*Projetos*/

.projetos {
    margin-top: 0px;
}

.projetos a {
    width: 550px;
    height: auto;
    background: var(--projetos_color);
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
}

.projetos:hover .projeto_img {
    filter: brightness(15%);
}

.projetos:hover .modal {
    opacity: 1;
}

.projetos img {
    width: 100%;
    border-radius: 15px 15px 0 0;
    transition: ease-in-out 0.7s;
}

.projetos h3 {
    font-family: var(--textos_fonte);
    font-size: 25px;
    text-align: center;
    color: #FFF;
    padding: 5px 0;
}

/*Section2 - Meus Projetos*/

.modal {
    width: 90%;
    height: 180px;
    gap: 15px;
}

.modal h2 {
    font-size: 22px;
}

.modal h3 {
    font-size: 50px;
}

.modal div img {
    width: 45px;
}

.modal p {
    font-size: 20px;
    align-items: center;
}

.projetos a {
    width: 100%;
}

.projetos h3 {
    font-size: 20px;
    padding: 5px 0;
}

