*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    position: relative;
    width: 100%;
    height: 200px;
    
}

section{
    background-color: rgb(27, 27, 27);
    width: 100%;
    height: auto;
    padding-bottom: 30px;
   
    
}

article{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 180px;
    padding-top: 60px;
}

#Quadro{
    width: 20%;
    height: 320px; 
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

#Quadro img{
    width: 240px;
   
    
}

#Quadro2{
    width: 45%;
    height: 245px; 
    border-radius: 30px;
    background-color: rgb(43, 43, 43);
    font-size: large;
    text-align: right;
    color: white;
    padding: 20px;
}

#Quadro2 button{
    padding: 13px;
    font-size: 15px;
}

h3{
    text-align: center;
    color: white;
    font-size: 30px;
}

#projetos{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 195px;
    padding-top: 60px;
    margin-top: 50px;
}

.divisao{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    
}

.cartao{
    width: 100%;
    height: 330px; 
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.cartao img{
    width: 480px;
    object-fit: contain;
}

.cartao button{
    background-color: rgb(65, 64, 64);
    padding: 13px;
    font-size: 15px;
}

.cartao button:hover{
    background-color: white;
    transition: 0.3s all;
    color: black;

}